<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kmk4729/OndeviceAI_Raspberry" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="On-device AI Raspberry">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-github"></i> GitHub
                            </div>
                            <div class="project-name">
                                On-device AI Raspberry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kmk4729/Pointcloud_Cube_Solver" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Pointcloud Cube Solver">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-github"></i> GitHub
                            </div>
                            <div class="project-name">
                                Pointcloud Cube Solver
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kmk4729/Finger_Vision_Board" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Finger Vision Board">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-github"></i> GitHub
                            </div>
                            <div class="project-name">
                                Finger Vision Board
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kmk4729/Extinguisher_Detection_Gazebo" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Extinguisher Detection Gazebo">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-github"></i> GitHub
                            </div>
                            <div class="project-name">
                                Extinguisher Detection Gazebo
                            </div>
                        </div>
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/kmk4729/Card_Detection_Yolo" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Card Detection Yolo">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-github"></i> GitHub
                            </div>
                            <div class="project-name">
                                Card Detection Yolo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.notion.so/kmk-e0587224fa5a4950aee5786e72a56405?source=copy_link" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Portfolio & Resume">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <i class="fa fa-external-link"></i> Notion
                            </div>
                            <div class="project-name">
                                Portfolio & Resume
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

