<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Expertise</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
                    <h3>Computer Vision</h3>
                    <p class="text-muted">Real-time object detection, tracking, and facial recognition.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Embedded Systems</h3>
                    <p class="text-muted">Developing for Raspberry Pi, Jetson, and other microcontrollers.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Robotics</h3>
                    <p class="text-muted">Experience with ROS, Turtlebot, and building autonomous systems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>AI & Real-time Data</h3>
                    <p class="text-muted">On-device AI, and processing real-time data streams.</p>
                </div>
            </div>
        </div>
    </div>
</section>
